.navbar {
    background-color: #3c5999;
  }
  .navbar .navbar-brand {
    color: #f0f0f0;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #fefefe;
  }
  .navbar .navbar-text {
    color: #f0f0f0;
  }
  .navbar .navbar-text a {
    color: #fefefe;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #fefefe; 
  }
  .navbar .navbar-nav .nav-link {
    color: #f0f0f0;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #fefefe;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    padding-left: 0.6rem;
    color: #fefefe;
    background-color: #2c4989;
  }
  .navbar .navbar-toggle {
    border-color: #2c4989;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #2c4989;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #f0f0f0;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #f0f0f0;
  }
  .navbar .navbar-link {
    color: #f0f0f0;
  }
  .navbar .navbar-link:hover {
    color: #fefefe;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f0f0f0;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fefefe;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fefefe;
      background-color: #2c4989;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f0f0f0;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fefefe;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fefefe;
      background-color: #2c4989;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f0f0f0;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fefefe;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fefefe;
      background-color: #2c4989;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #f0f0f0;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #fefefe;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #fefefe;
      background-color: #2c4989;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #f0f0f0;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #fefefe;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #fefefe;
    background-color: #2c4989;
  }
  
  #profile-pic {
    height: 2.25rem;
    width: auto;
  }

  body {
    background-color: #f8faf9;
  }

  .desc {
    overflow: auto;
    max-height: 10rem;
  }