<div class="col-12 col-lg-6 p-2">

  <div class="card shadow-sm">
    <div class="row no-gutters">
      <div class="col-xl-6 col-12">
        <div class="thumbnail-album">
          <div class="h-100 d-flex flex-wrap justify-content-center">
            <%= image_tag  "dummy-photo.jpg", class: 'img-fluid img-thumbnail shadow-sm img-above-0'%>
            <%= image_tag  "dummy-photo.jpg", class: 'img-fluid img-thumbnail shadow-sm img-above-1'%>
            <%= image_tag  "dummy-photo.jpg", class: 'img-fluid img-thumbnail shadow-sm img-above-2'%>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-12 pt-2 pl-xl-0">
        <div class="thumbnail-desc">
          <div class="d-flex flex-column h-100 pl-2">
            <p class="h3">Title</p>
            <p class="text-primary mb-2">Someone</p>
            <div class="flex-xl-grow-1 desc">
              <p class="text-secondary"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua.Enim neque volutpat ac tincidunt vitae semper quis
                 lectus. Nulla aliquet enim tortor at auctor urna nunc id. Risus commodo viverra maecenas accumsan lacus
                vel facilisis volutpat est. Fermentum dui faucibus in ornare quam viverra. Est velit egestas dui id
                ornare arcu odio ut sem. Odio pellentesque diam volutpat commodo. Fringilla ut morbi tincidunt augue
                interdum velit.
              </p>
            </div>
            <div class="interactive-bar">
              <div class="align-content-center d-flex align-items-center justify-content-between">
                <div class="d-flex align-items-center">
                  <div class="HeartAnimation"></div>
                  <div class="text-secondary small">10</div>
                </div>
                <div class="mr-4 text-secondary small">50 views</div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-6 col-12">
      </div>

    </div>
  </div>
</div>