<!-- Modal -->
<div class="modal fade" id="imgPreviewModal" tabindex="-1" role="dialog" aria-labelledby="imgPreviewHome" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="imgPreview">Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="img-preview-body justify-content-center d-flex">
        <%= image_tag  "dummy-photo.jpg" , class: 'img-fluid view-model' %>
      </div>
      <div class="modal-footer justify-content-start">
        <div class="w-100">
          <span class="text-primary ml-2"></span>
        <hr>
          <p class="text-secondary">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>