<main class="col-12 col-md-9 col-xl-8 py-md-3">
  <div class="card pt-3">
    <div class="align-self-center">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary active photo-mode">
          <input type="radio" name="photo" id="photo-radio" autocomplete="off" checked> Photo
        </label>
        <label class="btn btn-outline-primary album-mode">
          <input type="radio" name="album" id="album-radio" autocomplete="off"> Album
        </label>
      </div>
    </div>
    <hr>

    <%= render  "modal" %>

    <div class="container-fluid px-0">
      <div class="row no-gutters pb-2 feed-photo">
        <%  Photo.all.each do |photo| %>
        <%= render partial: "feed/thumbnail", locals: {mode: 'photo', src: photo} %>
        <% end %>
      </div>
      <div class="row no-gutters pb-2 feed-album d-none">
        <%  Album.all.each do |album| %>
        <%= render partial: "feed/thumbnail", locals: {mode: 'album', src: album} %>
        <% end %>
      </div>
    </div>
  </div>
</main>