            <!-- This is a image model -->
            <div class="col-6 col-lg-4 pb-2 px-2">

              <div class="card shadow-sm">
                    <div class="thumbnail">
                      <div class="h-100 d-flex flex-wrap align-content-center">

                      <%= image_tag  "dummy-photo.jpg", class: 'img-fluid'%>
                      </div>
                    </div>
              </div>
            </div>