<div class="album-collection h-100">
  <div class="d-flex justify-content-center align-items-center h-100 ">
    <div class="text-center text-dark">
      <p class="h1">
        <i class="fa fa-exclamation-triangle"></i>
      </p>
      <p>
        <%= notice %>
      </p>
    </div>
  </div>
</div>