<% is_current_user = profile == current_user %>

<% photos_private = is_current_user ? profile.photos : profile.photos.public_photos %>
  <% if photos_private.size > 0 %>
    <div class="row px-1 pb-2 photo-collection">
      <% photos_private.each do |i| %>
        <%= render partial: 'profiles/imgholder', locals: {mode: 'photo', src: i, edit: is_current_user} %>
      <% end %>
    </div>
  <% else %>
  <div class="photo-collection h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-center text-dark">
        <p class="h1">
          <i class="fa fa-exclamation-triangle"></i>
        </p>
        <p>
          This user haven't uploaded any pubilc photo yet!
        </p>
      </div>
    </div>
  </div>
  <% end %>