<% is_current_user = profile == current_user %>

<% photos_private = is_current_user ? profile.photos : profile.photos.public_photos %>
  <% if photos_private.size > 0 %>
    <div class="row px-1 pb-2 photo-collection">
      <% photos_private.each do |i| %>
        <%= render partial: 'profiles/imgholder', locals: {mode: 'photo', src: i, edit: is_current_user} %>
      <% end %>
    </div>
  <% else %>
    <%= render partial: 'nocontentnotice', locals: {notice: t("no-photos-notice")} %>
  <% end %>