<% if mode == 'followers' %>
  <% follow = profile.followers %>
<% else %>
  <% follow = profile.followees %>
<% end %>
<% if follow.size > 0 %>
  <div class="row px-xl-3 px-2 pb-2 album-collection">
    <% follow.each do |a| %>
      <%= render partial: 'profiles/followuser', locals: {src: a} %>
    <% end %>
  </div>
<% else %>
  <% if mode == 'followers' %>
    <%= render partial: 'nocontentnotice', locals: {notice: t("no-followers-notice")} %>
  <% else %>
    <%= render partial: 'nocontentnotice', locals: {notice: t("no-followees-notice")} %>
  <% end %>
<% end %>