<% if mode == 'followers' %>
  <% follow = profile.followers %>
<% else %>
  <% follow = profile.followees %>
<% end %>
<% if follow.size > 0 %>
  <div class="row px-xl-3 px-2 pb-2 album-collection">
    <% follow.each do |a| %>
      <%= render partial: 'profiles/followuser', locals: {src: a} %>
    <% end %>
  </div>
<% else %>
<div class="album-collection d-none h-100">
  <div class="d-flex justify-content-center align-items-center h-100 ">
    <div class="text-center text-dark">
      <p class="h1">
        <i class="fa fa-exclamation-triangle"></i>
      </p>
      <p>
        This user doesn't have any <%= mode %>!
      </p>
    </div>
  </div>
</div>
<% end %>