<% is_current_user = profile == current_user %>

<% albums_private = is_current_user ? profile.albums : profile.albums.public_albums %>
  <% if albums_private.size > 0 %>
    <div class="row px-1 pb-2 album-collection">
      <% albums_private.each do |a| %>
        <%= render partial: 'profiles/imgholder', locals: {mode: 'album', src: a, edit: is_current_user} %>
      <% end %>
    </div>
  <% else %>
  <%= render partial: 'nocontentnotice', locals: {notice: "This user haven't uploaded any public album yet!"} %>
  <% end %>