<div class="text-center">
  <p class="h2">
    Oopsie!
  </p>
  <p class="h6">
    You has been blocked from using this website
  </p>
  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'h6'%>
</div>