<main class="col-12 col-md-9 col-xl-8 py-md-3">
  <div class="card pt-3">
    <div class="align-self-center">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary active photo-mode">
          <input type="radio" name="photo" id="photo-radio"
          autocomplete="off" data-site="home" checked> Photo
        </label>
        <label class="btn btn-outline-primary album-mode">
          <input type="radio" name="album" id="album-radio"
          autocomplete="off" data-site="home"> Album
        </label>
      </div>
    </div>
    <hr>

      <div class="content-field">
        <% if @photo.length > 0 %>
          <div class="container-fluid px-0">
            <div class="row no-gutters pb-2 feed-photo">
                <%  @photo.includes(:imageable).each do |photo| %>
                  <%= render partial: "feeds/thumbnail", locals: {mode: 'photo', src: photo} %>
                <% end %>
            </div>
          </div>
          <div class="row justify-content-center d-flex ">
            <div id="infinite-scrolling" data-mode="photos">
              <%= paginate @photo, remote: true %>
            </div>
          </div>
        <% else %>
          <div class="container-fluid collection">
          <%= render partial: 'profiles/no_content_notice', locals: {notice: t('no-images-notice')} %>
          </div>
        <% end  %>
      </div>
  </div>
</main>
<%= render "modal" %>