<div class="notification-post p-3">
    <div class="row">
      <div class="col-auto">
        <div class="noti-image">
          <%= image_tag  "dummy-profile.png", class: 'img-fit border rounded' %>
        </div>
      </div>
      <div class="col">
        <span class="noti-text">

          <%= noti.event %>
        </span>
      </div>
      <div class="col-auto">
        <span class="noti-text">
          <%= noti.time_since %>
        </span>
      </div>
    </div>
</div>
<hr class="m-0">