<div class="album-photo-thumbnail">
  <%= image_tag photo.img.thumb.url, class: 'album-photo-thumbnail img-fit' %>
  <div class="btn-delete-photo text-white rounded-circle text-center" data-id="<%= photo.id %>">
    <i class="fa fa-trash"></i>
  </div>
</div>