// Place all the styles related to the feeds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Feeds CSS */

.img-fluid{
  max-height: 100%;
}

.desc {
  position: relative;
  top: 0rem;
  bottom: 0rem;
  overflow: scroll;
  max-height: 12rem;
}

.img-preview-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0.25rem;
}

.img-fit{
  width: inherit;
  object-fit: cover;
}

.heart-animation {
  padding-top: 2em;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/66955/web_heart_animation.png');
  background-repeat: no-repeat;
  background-size: 2900%;
  background-position: left;
  height: 50px;
  width: 50px;
  /* margin: 0 auto; */
  cursor: pointer;
}

.animate {
  animation: heart-burst .8s steps(28);
}

@keyframes heart-burst {
  0% {
    background-position: left
  }
  100% {
    background-position: right
  }
}

.heart-on{
  background-position: right
}

.thumbnail-feed{
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #787878, #484848);
  height: 15.75vw;
}
@media (max-width: 1199px){
  .thumbnail-feed{
    height: 34.25vw;
  }
}
@media (max-width: 991px){
  .thumbnail-feed{
    height: auto;
  }
}

.thumbnail-album{
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #787878, #484848);
  height: 15.75vw;
}
@media (max-width: 1199px){
  .thumbnail-album{
    height: 34.25vw;
  }
}
@media (max-width: 991px){
  .thumbnail-album{
    height: 70vw;
  }
}
@media (max-width: 767px){
  .thumbnail-album{
    height: 95vw;
  }
}

.thumbnail-desc{
  height: 15.2vw;
}
@media (max-width: 1199px){
  .thumbnail-desc{
    height: 20rem;
  }
}
@media (max-width: 991px){
  .thumbnail-desc{
    height: auto;
  }
}

.interactive-bar {
  position: relative;
  bottom: 0;
}

.img-above-0 {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-10deg) scale(0.8,0.8);
}

.img-above-1 {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg) scale(0.8,0.8);
}

.img-above-2 {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8,0.8);
}

.album-animation-0{
  animation: slide0 0.8s forwards;
}

.album-animation-1{
  animation: slide1 0.8s forwards;
}

@keyframes slide0 {
  from {

  };
  to {
    transform: translate(-50%, -50%) rotate(10deg) scale(0.8,0.8)
  }
}

@keyframes slide1 {
  from {

  };
  to {
    transform: translate(-50%, -50%) rotate(0deg) scale(0.8,0.8)
  }
}