// Place all the styles related to the Managements controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.manage-view {
  min-height: 70vh;
  padding-bottom: 4rem;
}

.pagination-bar {
  position: absolute;
  bottom: 0;
}