// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-photo-desc{
  min-height: 8.25rem;
  max-height: 8.25rem;
}

.photo-upload-border{
  border: 5px dashed rgb(160, 160, 160)
}

.photo-upload-btn{
  color: rgb(160, 160, 160);
  font-size: 5rem;
}

.photo-upload{
  height: 18rem;
  width: 18rem;
  :hover{
    background-color: #e0e0e0
  }
  :active{
    background-color: #d0d0d0
  }
}