// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.myprofile-avatar{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

.btn-badge-border{
  border: 1.5px solid;
}

.thumbnail{
  height: 14.75vw;
}
@media (max-width: 1199px){
  .thumbnail{
    height: 16.5vw;
  }
}
@media (max-width: 991px){
  .thumbnail{
    height: 32vw;
  }
}
@media (max-width: 767px){
  .thumbnail{
    height: 43vw;
  }
}
@media (max-width: 575px){
  .thumbnail{
    height: 40.5vw;
  }
}