// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.myprofile-avatar{
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

.editprofile-avatar{
  height: 12rem;
  width: 12rem;
  border-radius: 0.5rem;
}

.myprofile-follow{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}


.btn-badge-border{
  background-color: white;
  border: 1.5px solid;
}

.btn-private{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  background-color: rgba($color: #000000, $alpha: 0.75);
}

.thumbnail{
  overflow: hidden;
  background-image: linear-gradient(to bottom right, #787878, #484848);
  height: 14.75vw;
}
@media (max-width: 1199px){
  .thumbnail{
    height: 16.5vw;
  }
}
@media (max-width: 991px){
  .thumbnail{
    height: 32vw;
  }
}
@media (max-width: 767px){
  .thumbnail{
    height: 43vw;
  }
}
@media (max-width: 575px){
  .thumbnail{
    height: 45.5vw;
  }
}

.profile-card{
  background-image: none;
  background-color: white;
  border-radius: 0.25rem;
}

.collection {
  min-height: 60vh;
}

.no-content{
  position: relative;
  top: 0rem;
  bottom: 0rem;
}

.btn-click{
  cursor: pointer;
}

.edit-form{
  max-width: 600px;
}

.badge-mini{
  font-size: 75%;
  font-weight: 700;
}

.badge-medium{
  font-size: 0.9rem;
  font-weight: 600;
}

.badge-medium.badge-pill{
  padding: 0.3em 0.8em;
}

.interact-section{
  position: relative;
  bottom: 0;
}

.img-uploader{
  height: 12rem;
}

.img-uploader-over{
  position: relative;
  width: 12rem;
  bottom: 1.5rem;
}

.btn-add-photo{
  position: absolute;
  right: 2.5rem;
  bottom: -0.45rem;
}

.btn-add-album{
  position: absolute;
  right: 10rem;
  bottom: -0.45rem;
}

.btn-edit-photo{
  position: absolute;
  bottom: 5px;
  right: 5px;
  height: 22px;
  width: auto;
  padding: 0 8px;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 13px;
  cursor: pointer;
  background-color: rgba($color: #000000, $alpha: 0.75);
}

a[data-slide]:hover{
  background-color: rgba(25, 25, 25, 0.5)
}

.btn-overlay{
  z-index: 3;
}